In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer, SimpleImputer
from sklearn.linear_model import  LogisticRegression

from sklearn.metrics import accuracy_score

In [4]:
url = "https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day19-understanding-your-data-descriptive-stats/train.csv"
df = pd.read_csv(url, usecols=['Survived', 'Fare', 'Age', 'Pclass'])
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [5]:
df.isnull().sum()

Survived      0
Pclass        0
Age         177
Fare          0
dtype: int64

In [6]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [7]:
X_train, X_test,y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [8]:
X_train.head()

     Pclass   Age     Fare
140       3   NaN  15.2458
439       2  31.0  10.5000
817       2  31.0  37.0042
378       3  20.0   4.0125
491       3  21.0   7.2500

In [17]:
knn = KNNImputer(n_neighbors=4)

X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

In [18]:
pd.DataFrame(X_train_trf, columns= X_train.columns)

     Pclass     Age     Fare
0       3.0  29.250  15.2458
1       2.0  31.000  10.5000
2       2.0  31.000  37.0042
3       3.0  20.000   4.0125
4       3.0  21.000   7.2500
..      ...     ...      ...
707     1.0  39.000  83.1583
708     3.0  19.000   7.8542
709     3.0  25.625   7.7333
710     3.0  36.000  17.4000
711     2.0  60.000  39.0000

[712 rows x 3 columns]

In [19]:
lr = LogisticRegression()

lr.fit(X_train_trf, y_train)

y_pred = lr.predict(X_test_trf)
accuracy_score(y_test, y_pred)

0.7206703910614525

In [20]:
# Comparison with simple Imputer --> then
si = SimpleImputer()

X_train_trf2 = si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)

In [22]:
lr = LogisticRegression()

lr.fit(X_train_trf2, y_train)

y_pred2 = lr.predict(X_test_trf2)
accuracy_score(y_test, y_pred2)

0.7318435754189944